.profile-container {
    display: flex;          
    align-items: center;   
    justify-content: flex-start;   
    gap: 550px;            
    margin: 50px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.name-bio {
    font-size: 27px;
    font-family: monospace;
    border-right: 2px solid black;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(10) forwards, blink 1s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 10ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    border-style: double;
}

.section{
    align-items: center;
    margin: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 40px; 
}

.hobbies, .projects {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#bgBtn, #txtBtn, #resetBtn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}







