/* body {
  background: url(assets/img/bg1.jpg);
} */

body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    padding-left: 50px;
    padding-right: 50px
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.profile-container {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.136);
}

#bioText {
  max-width: 70%;
}

.name-bio {
  font-size: 27px;
}

.typing-text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: double;
}

.section {
  align-items: center;
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.hobbies,
.projects {
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.136);
}


.default-button {
  padding: 3px;
  margin : 3px;
  background:  rgba(255, 255, 255, 0.3);
  border:none;
  border-radius: 15px;
  font-weight:bolder;
  color: rgb(85, 85, 85);
  width: 40px;
  height: 40px;
}


/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start with full transparency */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}

/* Apply the animation to the element */
.fade-in-element {
  opacity: 0; /* Set initial opacity to 0 to prevent a flash of content */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
}


#environment-controls {
  margin: 5px;
  display: block;
  text-align: right;
}